:root {
  /* Colors */

  /* Primary */

  --Very-Dark-Blue: #070439;
  --Desaturated-Blue: #585989;

  /* Accent */

  --Bright-Blue: #3065f8;
  --Moderate-Cyan: #3c9f8f;

  /* Neutral */

  --Light-Grayish-Blue: #f6f6fe;
  --Light-Gray: #bfbfbf;

  /* Fonts */
  /* Body */
  --Open-sans: "Open Sans", sans-serif; /*Weights: 400*/

  /* Headings, Call-to-actions, Header Navigation */
  --Raleway: "Raleway", sans-serif; /*Weights: 400, 700*/
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--Open-sans);
}

header,
.section-1 {
  margin: 2rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  margin-right: 1rem;
  min-width: 100px;
  height: 29px;
}

.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.nav-bar a {
  text-decoration: none;
  color: #000;
}

.title {
  /*use clamp*/
  text-align: center;
  margin-bottom: 1.5rem;
}

.description {
  text-align: center;
  margin-bottom: 2rem;
}

.input-1 {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 2.5rem;
  border-radius: 0.2rem;
}

.btn-1 {
  width: 100%;
  background-color: var(--Bright-Blue);
  color: #fff;
  min-height: 2.5rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.2rem;
  margin-bottom: 5rem;
}

.curve-img {
  background-image: url("./images/bg-curve-mobile.svg");
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 {
  background-color: var(--Light-Grayish-Blue);
}

article {
  padding: 2rem;
}

.stay-productive {
  font-size: 1rem; /* use clamp()*/
  padding-left: 3rem;
  margin-bottom: 1rem;
}

.description-stay-productive > p {
  margin-bottom: 2rem;
}

article p:nth-child(4) {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.icon-arrow > a > img {
  margin-left: 0.5rem;
}

article p:nth-child(4) a {
  text-decoration: none;
  color: var(--Moderate-Cyan);
  display: flex;
  border-bottom: 2px solid var(--Moderate-Cyan);
}

.card {
  padding: 1.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 5px 1px rgba(202, 213, 232, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(202, 213, 232, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(202, 213, 232, 0.75);

  margin-bottom: 5rem;
}

.card > div > p {
  margin-top: 1rem;
}

.kyle {
  display: grid;
  grid-template-columns: 50px 150px;
  margin-top: 1rem;
}

.kyle img {
  border-radius: 50%;
  width: 40px;
}

.name,
.ceo {
  grid-column-start: 2;
}

.name {
  font-weight: bold;
}
